@page
@model CarBooking.Pages.Home.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>New Booking</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Car
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBookingz[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBookingz[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBookingz[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBookingz[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBookingz[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarBookingz)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Manufacturer) - @Html.DisplayFor(modelItem => item.Car.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @if (item.Status.Name == "Rejected")
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    else
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit |</a>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details |</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
